body {
    background-color: #111821;
    font-family: sans-serif;
}

.nav-bar {
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.nav-options {
    display: flex;
    gap: 1rem;
}

.nav-options a:hover {
    color: #e31b6d;
}

.description {
    margin-right: 50%;
    margin-bottom: 25px;
    font-size: 25px;
    color:white;
    display: inline;
}

.resumebutton {
   
}

.resumeButton a {
    color: #e31b6d; 
    border: 2px solid #e31b6d;
    padding: 4px;
    font-size: 30px;
    text-decoration: none;
}

.headingName {
    color: white;
}

.headshot {
    border: 3px solid #e31b6d;
    width: 200px;
}

.headings {
    color:white;
}


/* for the business card */

.business-card-p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.business-card {
  width: 300px;
  background-color:#1E90FF;
  padding: 20px;
  margin-top: 100px;
  text-align: center;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  font-family:Arial, sans-serif;
  border: 5px solid #4169E1;
  color:white;
}

a {
    text-decoration: none;
}

.profile-image {
  max-width: 100%;
  border: 5px solid #4169E1;
  box-sizing: border-box;
}

hr {
    border: 1px solid #4169E1;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.nav-bar a:hover {
    color: #e31b6d;
}

.social-media a:hover {
    color: #4169E1;
}

.business-card a:hover {
    color: #4169E1;
}


