body {
    background-color: #111821;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

section {
    margin-top: 50px;
    margin-bottom:100px;
    margin-left:50px;
    padding: 10px;
}


/* nav */
.nav-bar {
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.nav-options {
    display: flex;
    gap: 1rem;
}

.nav-options a {
    background-color: #e31b6d;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.nav-options a:hover {
    background-color: #DC143C;
}

.nav-options a:active {
    background-color: #8B0000;
}

.nav-options a:link ,
.nav-options a:visited{
    color: white;
}

.nav-name {
    font-size: 25px;
}


/* intro section */

.description {
    margin-right: 10%;
    margin-bottom: 25px;
    font-size: 25px;
    color:white;
    display: flex;
    flex: 1;
}

.headshot {
    border: 3px solid #e31b6d;
    width: 300px;
    margin-right: 10%;
}

.flex-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.resumeButton {
   display:inline-block;
   transition: all 0.3s ease;
}

.resumeButton a {
    color: #e31b6d; 
    border: 2px solid #e31b6d;
    padding: 4px;
    font-size: 30px;
    text-decoration: none;
}

.resumeButton:hover {
    transform: scale(1.1);
}

.headingName {
    color: white;
}

.headings {
    color:white;
    text-align: center;
}

/* About Section */
.about h2, .about p{
    color: white;
}

.about p {
    font-size: 20px;
}

/* skills section */
.skills h2 {
    color:white;
}

.skills-container {
    display: flex;
    width: 100%;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.each-skill {
    font-size: 1.5rem;
    color: #e31b6d;
    background-color: #223247;
    padding: 1rem 2.5rem;
    border-radius: .3rem;
    transition: all 0.3s ease;
}

.each-skill:hover {
    transform: scale(1.1);
}

/* Projects section */
#projects {
    color: white;
}

.each-project {
    color:white;
}

/* for the business card */

.business-card-p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.business-card {
  width: 300px;
  background-color:#1E90FF;
  padding: 20px;
  margin-top: 100px;
  text-align: center;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  font-family:Arial, sans-serif;
  border: 5px solid #4169E1;
  border-radius: 10px;
  color: white;
  box-shadow: 0 4px 8px white;
  transition: transform 0.3s;
}

.business-card a {
    color:white;
}

.business-card:hover {
    transform: scale(1.1);
}

.profile-image {
  max-width: 100%;
  border: 5px solid #4169E1;
  box-sizing: border-box;
}

hr {
    border: 1px solid #4169E1;
}


.social-media a:link,
.social-media a:visited {
    color: white;
}

:is(.social-media a, .business-card a):hover {
    color: #4169E1;
}


/*.gradient {
    background: linear-gradient(to right, purple, royalblue);
    height: 40vh;

    background: radial-gradient(circle closest-side at center, red, yellow 50%, green);
    height: 60vh;
}*/




